*, *::before, *::after {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #131313; 
}

.points {
  color: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  color: #f0f0f0; 
  position: absolute;
  font-size: 6vmin;
  right: 88vmin;
  top: 3.5vmin;
}

.end-screen {
  color: #f0f0f0; 
}

.start-screen {
  color: #f0f0f0; 
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hide {
  display: none;
}

.ground {
  --left: 0;
  position: absolute;
  width: 300%;
  bottom: 0;
  left: calc(var(--left) * 1%);
}

.dino {
  --bottom: 0;
  position: absolute;
  left: 1%;
  height: 30%;
  bottom: calc(var(--bottom) * 1%);
}

.cactus {
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  .points {
    text-align: center;
    font-size: 4px;
  }
  
  .score {
    top: 1vmin;
    right: 35vmin;
  }
}
